// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* log_in */
.log_in_box {
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 線の太さ・種類・色 */
    box-shadow:1px 1px 6px 0px #ccc;
    -moz-box-shadow:1px 1px 6px 0px #ccc;
    -webkit-box-shadow:1px 1px 6px 0px #ccc;
    -o-box-shadow:1px 1px 6px 0px #ccc;
    margin: 20px 5px; /* 外側の余白 上下・左右 */
    padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
    position: relative;
    z-index: 0;
}
.log_in_box:after{
    background-color: #6db2f9; /* マステ部分の色1 */
    background-image: linear-gradient(45deg, #6db2f9 25%, transparent 25%, transparent 75%, #6db2f9 75%, #6db2f9), linear-gradient(45deg, #6db2f9 25%, transparent 25%, transparent 75%, #6db2f9 75%, #6db2f9); /* マステ部分の色2 */
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
    border-left: 2px dotted rgba(255,255,255,0.9);
    border-right: 2px dotted rgba(255,255,255,0.9);
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    content: 'ログイン';
    display: block;
    margin: 0 0 10px 0;
    padding: 5px 20px;
    color: #fff;  /* マステ部分文字色 */
    text-align: center;
    position: absolute;
    top: -10px;
    left: 20px;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
.sign_in_box {
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 線の太さ・種類・色 */
    box-shadow:1px 1px 6px 0px #ccc;
    -moz-box-shadow:1px 1px 6px 0px #ccc;
    -webkit-box-shadow:1px 1px 6px 0px #ccc;
    -o-box-shadow:1px 1px 6px 0px #ccc;
    margin: 20px 5px; /* 外側の余白 上下・左右 */
    padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
    position: relative;
    z-index: 0;
}
.sign_in_box:after {
    background-color: #54ded8; /* マステ部分の色1 */
    background-image: linear-gradient(45deg, #54ded8 25%, transparent 25%, transparent 75%, #54ded8 75%, #54ded8), linear-gradient(45deg, #54ded8 25%, transparent 25%, transparent 75%, #54ded8 75%, #54ded8); /* マステ部分の色2 */
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
    border-left: 2px dotted rgba(255,255,255,0.9);
    border-right: 2px dotted rgba(255,255,255,0.9);
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    content: '新規登録';
    display: block;
    margin: 0 0 10px 0;
    padding: 5px 20px;
    color: #fff;  /* マステ部分文字色 */
    text-align: center;
    position: absolute;
    top: -10px;
    left: 20px;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

/* show */
.map_image {
 border: 1px solid;
 border-color:silver;
	height: 200px;
	max-width: 100%;
  text-align:center;
}
.mypage_box {
	margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.mypage_box .mypage_title {
	font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.user-post-box{
	transition-duration: 0.5s;/*変化の時間*/
	padding: 0.5em 0.3em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #75b2ff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.user-post-box:hover {
	transform: scale(1.2,1.2); /*画像の拡大*/
	cursor: pointer; /*カーソルをポインターにする*/
	opacity:0.6;
	filter:alpha(opacity=50);
	-ms-filter: “alpha( opacity=50 )”;
}

/* user_edit */
.user_image {
	margin-top: 30px;
}